body{
    margin: 20px;
    line-height: 1em;
    font-size: 0.875em;
    background: rgb(15,46,92);
}  

.form-inner{
    width: 440px;
    overflow: hidden; 
    margin: auto;  
    padding: 60px;  
    background:rgb(82,143,204);  
    border-radius: 10px ;   
    border-spacing: 10px;
        
}

.logoApp{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:30%;
    
}
.logoApp img{
    width: 392px;
    height: 200px;
}
.logoapp{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: -20%;
    
}
.logoapp img{
    width: 106px;
    height: 70px;
}
label{  
    display: block;
    margin: 10px 0;
    color:black;  
    font-size: 22px;  
}

input[type="email"],
input[type="password"] {
    display: inline-block;
    width: 300px;  
    height: 28px;  
    border: none;
    border-radius: 5px;  
    padding-left: 8px; 
    font-size: 14px;

}
#ingresar{ 
    display: inline-block; 
    width: 148px;  
    height: 32px;  
    border-radius: 7px;  
    padding-left: 7px; 
    background-color: rgb(184,207,230); 
    color: rgb(7, 7, 7); 
    margin: 10 0 0 4px; 
    font-size: 14px;
} 
#crearCuenta{
    display: inline-block; 
    width: 148px;  
    height: 32px;  
    border-radius: 7px;  
    padding-left: 7px; 
    background-color: rgb(184,207,230); 
    color: rgb(7, 7, 7); 
    margin: 10 0 0 4px; 
    font-size: 14px;

}

